body {
	background-color: #22c7b6;
}

h1 {
	color: #24752a;
	text-align: center;
	font-size: 32px;

}

.h1 {
	color: white;
	text-align: center;
	font-size: 50px;

}

h3 {

	font-size: 26px;
	color: darkblue;

}
.margin {
  border: 1px solid black;
  margin: 25px 50px;
  background-color: lightblue;
}
div {
  margin-right: 40px;
}

.obraz_left
{
     float: left;
     margin-right: 15px;

}

.hobby {
  background-color: white;
  color: blue;
  padding: 15px;
}

.a {
  text-align: center;
  float: center;
}

.obraz_right
{
     float: right;
     margin-right: 15px;

}

.box {
	background: gold;
	margin-left: auto;
	margin-right: auto;
}

.flex-container {
  flex-direction: column;
  justify-content: space-around;
}



.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
